 .Origami{
    border: radius 20px;
    display:flex;
    background-color: orange;
    padding:30px;
    margin:20px;
    font-family:fantasy;
   justify-content: space-evenly;
} 
body{
    margin:0px;
    background-color:thistle
}
.Snake{
    background-color: aqua;
    font-family:fantasy;
   padding:30px;
   margin:25px;
   left:50px;
}
.Snake:hover{
    transform: scale(1.2);
}
.Owls{
    background-color: aqua;
    font-family:fantasy;
    padding:30px;
   margin:25px; 
}
.Owls:hover{
    transform: scale(1.2);
}
.Dragon{
    background-color: aqua;
    font-family:fantasy;
    padding:30px;
   margin:25px; 
   left:50px;
}
.Dragon:hover{
    transform: scale(1.2);
}
.Item{
    position: relative
   }
   a:any-link{
       color:blue
   }
   a:visited{
color: white
   }
   .Item p{
       position: absolute;
       opacity:0;
       top: 10%;
       left:40%;
       transform: translate(-50%,-50%)
   }
   .Item:hover p{
    opacity:1
}
.Item:hover ul{
    opacity:1
    
}
.Item:hover img{
    opacity:0.5
}
   a{
       text-decoration: none;
   }
   .Item ul{    
    position: absolute;
    opacity:0;
    top: 30%;
    left:40%;
    transform: translate(-50%,-50%)
   }